.body-characters {
  display: grid;
  height: 85vh;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 5vh;
  margin-left: 20%;
  margin-right: 20%;
}

.body-characters > div {
  width: 200px;
  height: 250px;
}
