.conteiner-detail{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
#img{
    width: 100%;
    height: auto;
}
#izquierda{
    background-image: url(https://preview.redd.it/ay86q49ckx251.png?width=640&crop=smart&auto=webp&s=afed3d689bb6db4198804566c239dda0a5ed4d8a);
}
#name{
    font-family: initial;
    color: #0d4a23;
}
