body {
  font-family: "Creepster", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #05110a;
  background-image: linear-gradient(45deg, #05110a 0%, #006f15 100%);
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
